# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Environment / IDE
.env
.vscode/
.idea/
.DS_Store

# Local user configurations
user_settings.json
